@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "_Layout"; // Specify the layout
}

<div class="container mt-5">
    <h1>My Project Description</h1>
    <p>For my project I want to be able to create a website that pulls data from the game Destiny 2 to show what your chances of recieving a particular weapon are.
        In the game each gun has its own set of perks and modifciations it can roll with so I would like to be able to create a website that can caculate the odds of reciving a certain roll.
        There are currently some websites that track which perks exist on the gun and some that show how many people have obtained certain rolls,
        so I am hoping to be able to also be able to pull the data from the API for those 2 categories and use them to calculate the odds or receving the roll you want.
        I would like to be able to include an image of the weapon and also the images related to the perks and modifications the guns can roll to make them easier for the user to select.
        There are 3 slots of weapons in the game so I would like to have a page dedicated to each as well as an introductory home page.
        Another feature I would like to add if I am able too or maybe as a watered down version of whats above is to create a list for users to be able to track and keep of list of weapon rolls they want.
        Once they get the roll they want they would be able to check it off and remove it from their list. This way players dont have to keep a mental note of all the rolls they have or dont have that they may want and instead its all in one place.
    </p>
</div>
