@model IEnumerable<dynamic>

<h1>Test Results</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Question</th>
            <th>Your Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.QuestionText</td>
                <td>@item.Answer</td>
            </tr>
        }
    </tbody>
</table>
