<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Lab9</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <h1>Lab 9</h1>
        <nav>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required:false)
</body>
</html>
